<div class="container">
  <h2>Login</h2>

  <form [formGroup]="login" (ngSubmit)="onClickSubmit()">
    <mat-form-field appearance="outline" class="form">
      <mat-label>Enter username</mat-label>
      <input matInput placeholder="Enter" formControlName="username">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</!-->
      <mat-hint>Username</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="outline" class="form">
      <mat-label>Admin1</mat-label>
      <input matInput placeholder="Enter" formControlName="password">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Password</mat-hint>
    </mat-form-field>

    <div class="btn">
      <button mat-stroked-button color="primary" type="submit">Login</button>
    </div>
  </form>


</div>
