<div class="landDiv">
    <h1>Welcome to Landing!</h1>
    <p>From here you can navigate to create a song, search for one, or edit songs you've selected</p>

    <div class="nav">
        <h4>Start Here</h4>

        <a routerLink="/app-create-song" routerLinkActive="active">
            <button mat-stroked-button color="primary" type="submit">Create song</button>
        </a>
        
        <span><i>Search for a song using the search bar</i></span>

        <a routerLink="/app-landing-page" routerLinkActive="active">
            <button mat-stroked-button color="primary" type="submit">All Songs</button>
        </a>

    </div>
</div>
