<div class="col-10 offset-1">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-sm-6 form-group required">
                <label for="name">Name</label>
                <input type="text" [disabled]="loading" [(ngModel)]="contact.Name" name="contact.Name" required="" class="form-control text-input"
                    id="name" placeholder="Name" />
            </div>
            <div class="col-12 col-sm-6 form-group required">
                <label for="email">E-mail</label>
                <input type="email" [disabled]="loading" [(ngModel)]="contact.Email" name="contact.Email" required=""
                    class="form-control text-input" id="email" placeholder="E-mail" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="subject">Subject</label>
                <input type="text" [disabled]="loading" [(ngModel)]="contact.Subject" name="contact.Subject" required=""
                    class="form-control text-input" id="subject" placeholder="Subject" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="message">Message</label>
                <textarea type="text" [disabled]="loading" [(ngModel)]="contact.Message" name="contact.Message" required=""
                    class="form-control" id="message" placeholder="Message..."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" [disabled]="loading" class="btn btn-success">Send</button>
            </div>
        </div>
    </form>
</div>