<body>
    <div id=footWrap>
        <div id="socialDiv">
            <div id="iconCont">
                <div id="faceDiv">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                </div>
                <div id="instaDiv">
                    <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
                <div id="twitDiv">
                    <a href="http://www.twitter.com" target="_blank"target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
                <div id="spotDiv">
                    <a href="https://www.spotify.com/" target="_blank"target="_blank"><i class="fa fa-spotify"></i></a>
                </div>
            </div>
        </div>
        <div id="spaceDiv"></div>
        <div id="copyDiv">
            <p>&copy; Heart To Art Team 2019</p>
        </div>
        <div id="contactDiv">
            <button id ="contactBTN"><a routerLink="/contactform" routerLinkActive="active">Contact Us</a></button>
        </div>
    </div>
 </body> 